*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-mrgvlovani);
    line-height: 1.7;
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-nino-mtavruli);
    font-weight: 700;
    text-transform: uppercase;
    color: #030303;
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p,
li {
    a {
        color: #2080d9;
        text-decoration: none;
        transition: all 150ms ease-in-out;

        &:hover,
        &:focus {
            color: #003d76;
        }
    }
}

.page-wrapper {
    position: relative;
    padding-top: 13px;

    &--top {
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
            clip-path: polygon(0 0, 0% 100%, 100% 0);
        }
    }

    &--bottom {
        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 80vh;
            background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        }
    }
}

.page-content {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
    align-items: start;
    padding-bottom: 165px;
}

.text-flow {
    & > * + * {
        margin-top: 20px;
    }

    h2,
    h3 {
        font-family: var(--ff-nino-mtavruli);
        font-weight: 700;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 31px;
        font-size: 20px;
        color: #003d76;
    }

    h3 {
        margin-top: 50px;
        font-size: 18px;
    }

    ul {
        list-style-type: disc;
        padding-left: 16px;
    }

    li {
        font-family: var(--ff-mrgvlovani);
        font-size: 14px;
        color: #000000;
        line-height: 1.7;
    }

    p {
        font-family: var(--ff-mrgvlovani);
        font-size: 14px;
        color: #000000;
        line-height: 1.7;

        span {
            margin-right: 20px;
        }
    }
}

.page-title {
    margin-bottom: 31px;
    font-family: var(--ff-nino-mtavruli);
    font-size: 20px;
    color: #003d76;
    font-weight: 700;
    text-transform: uppercase;
}
