.banner {
    &--hero {
        margin-bottom: 40px;
        padding: 76px 65px;
        width: 100%;
        height: 340px;
        background-repeat: no-repeat;
        border-radius: 20px;
    }

    &__title {
        font-family: var(--ff-nino-mtavruli);
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
    }
}
