.breadcrumbs {
    margin-bottom: 40px;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            position: relative;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
            font-style: italic;
            color: #363636;

            &:not(:last-child) {
                margin-right: 14px;

                &::after {
                    content: '/';
                    position: absolute;
                    right: -10px;
                }
            }

            a {
                font-family: inherit;
                font-size: inherit;
                font-style: inherit;
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
