@use '../base/config' as *;

.footer {
    background-color: #f6f6f6;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-inline: 40px 20px;
    border-radius: 20px;

    @media (max-width: $md-tablet) {
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }

    &__grid {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $md-tablet) {
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 30px;
        }

        & > * {
            flex-basis: 240px;

            @media (max-width: $md-tablet) {
                display: none;

                &:nth-child(1),
                &:nth-child(2) {
                    display: block;
                }
            }

            @media (max-width: $md-desktop) {
                flex-basis: 210px;
                gap: 20px;
            }
        }
    }

    &__nav {
        &:first-of-type {
            display: none;
        }
    }

    &__title {
        margin-bottom: 19px;
        font-family: var(--ff-nino-mtavruli);
        font-size: 20px;
        font-weight: 700;
        color: #1c5285;

        @media (max-width: $md-desktop) {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            line-height: 1;
        }
    }

    &__link {
        font-family: var(--ff-nino-mtavruli);
        font-size: 14px;
        font-weight: 700;
        color: #474747;
        text-decoration: none;

        @media (max-width: $md-desktop) {
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    &__copy {
        font-family: 'BPG Mrgvlovani Caps 2010';
        font-size: 14px;
        color: hsl(209 65% 32% / 0.58);

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    img {
        @media (max-width: $md-desktop) {
            width: 160px;
            height: auto;
        }
    }
}
