.kycb {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__link {
        position: relative;
        font-size: 14px;
        color: #000000;
        text-decoration: none;
        padding-left: 33px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background-image: url(../images/globe.svg);
            background-size: cover;
        }
    }
}
