.news-card {
    display: flex;
    align-items: center;
    gap: 10px;

    &__image {
        flex-shrink: 0;
        width: 174px;
        height: 162px;
        display: grid;
        place-content: center;
        border: 1px solid #f8f8f8;
        border-radius: 5px;
    }

    &__header {
        margin-bottom: 14px;
    }

    &__title {
        margin-top: 0 !important;
        line-height: 1.2;

        a {
            font-family: var(--ff-nino-mtavruli);
            font-weight: 700;
            font-size: 16px;
            color: #000000;
            text-decoration: none;
        }
    }

    &__meta {
        margin-top: 26px;
        display: flex;
        align-content: center;
        gap: 6px;
        font-family: var(--ff-nino-mtavruli);
        font-weight: 700;
        font-size: 16px;
        color: #003d76;
    }

    &__body {
        font-family: var(--ff-mrgvlovani);
        font-size: 10px;
        color: #929292;
    }
}
