@use '../base/config' as *;

.products {
    margin-top: 100px;
    margin-bottom: 80px;

    @media (max-width: $md-tablet) {
        margin-top: 50px;
    }

    &__title {
        margin-bottom: 80px;
        font-family: var(--ff-nino-mtavruli);
        font-size: 30px;
        font-weight: 700;
        color: #000;
        text-align: center;

        @media (max-width: $md-tablet) {
            margin-bottom: 30px;
        }
    }

    &__grid {
        padding-inline: 137px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
        justify-content: space-between;
        gap: 60px;

        @media (max-width: $md-tablet) {
            padding-inline: 16px;
        }

        @media (max-width: 520px) {
            grid-template-columns: 1fr;
            padding-inline: 0;
        }
    }
}
