.rating {
    &__image {
        margin-bottom: 26px;
    }

    &__info {
        margin: 0 !important;
        padding: 0 !important;
        list-style: none !important;
        width: fit-content;
    }

    li {
        margin-bottom: 24px;
        padding-bottom: 24px;
        padding-right: 40px;
        display: grid;
        grid-template-columns: 7fr 3fr;
        border-bottom: 1px solid #707070;

        span {
            font-family: var(--ff-mrgvlovani);
            font-size: 14px;
            color: #040c23;
        }
    }
}
