.rating {
    &__image {
        margin-bottom: 4px;
    }

    &__info {
        margin: 0 !important;
        list-style: none !important;
        padding: 44px 36px !important;
        box-shadow: 0 3px 6px hsl(0 0% 0% / 0.16);
        border-radius: 20px;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    li {
        padding-bottom: 24px;
        display: grid;
        grid-template-columns: 7fr 3fr;
        border-bottom: 1px solid #959595;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        @media (max-width: 768px) {
            gap: 30px;
        }

        @media (max-width: 460px) {
            grid-template-columns: 1fr;
            gap: 16px;
        }

        span {
            font-family: var(--ff-mrgvlovani);
            font-size: 14px;
            color: #040c23;

            &:nth-child(2) {
                @media (max-width: 460px) {
                    font-weight: 700;
                }
            }
        }
    }
}
