@use '../base/config' as *;

.index-slider {
    height: 537px;

    @media (max-width: $md-desktop) {
        height: 420px;
    }

    @media (max-width: $md-tablet) {
        height: 320px;
    }

    &__slide {
        position: relative;
        height: 100%;
        padding-inline: 126px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        isolation: isolate;

        @media (max-width: 860px) {
            padding-inline: 10px;
            width: 100%;
            height: 100%;
            justify-content: center;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: hsl(209 65% 32% / 0.5);
            border-radius: 20px;

            z-index: -1;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: var(--ff-nino-mtavruli);
        font-size: clamp(20px, 2vw + 1rem, 55px);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        background-color: #ecc173;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #fff;
    }
}
