@use '../base/config' as *;

.subscribe {
    margin-top: 136px;
    padding-bottom: 171px;

    @media (max-width: $md-tablet) {
        margin-top: 40px;
        padding-bottom: 50px;
    }

    &__grid {
        display: flex;
        align-items: flex-end;
        gap: 92px;

        @media (max-width: $md-tablet) {
            justify-content: center;
        }

        & > div {
            max-width: 570px;
            margin-right: 54px;

            @media (max-width: $md-tablet) {
                max-width: unset;
                margin-right: unset;
            }
        }
    }

    &__image {
        position: relative;
        width: 588px;
        height: 338px;
        margin-left: 120px;

        @media (max-width: $md-tablet) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: -40px;
            left: -33px;
            width: 267px;
            height: 221px;
            background-color: #003d76;
            border-radius: 10px;
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-family: var(--ff-nino-mtavruli);
        font-size: 30px;
        font-weight: 700;
        color: #484848;

        @media (max-width: 520px) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        margin-bottom: 37px;
        font-family: var(--ff-mrgvlovani);
        font-size: 16px;
        color: #757575;

        @media (max-width: 520px) {
            font-size: 12px;
        }
    }

    &__form {
        margin-bottom: 24px;
        position: relative;

        @media (max-width: 520px) {
            margin-bottom: 20px;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding-block: 15px;
        padding-right: 130px;
        font-family: var(--ff-mrgvlovani);
        font-size: 16px;
        color: #757575;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #707070;

        @media (max-width: 520px) {
            padding-right: 0;
        }

        &::placeholder {
            font-family: inherit;
            color: inherit;
        }

        &:focus {
            outline: 0;
            border-bottom-color: #003d76;
        }
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 120px;
        height: 40px;
        display: grid;
        place-content: center;
        font-family: var(--ff-nino-mtavruli);
        font-size: 14px;
        font-weight: 700;
        color: #757575;
        background-color: #fff;
        border: 1px solid #a39161;
        transition: all 150ms ease-in-out;

        @media (max-width: 520px) {
            position: relative;
            margin-top: 20px;
        }

        &:hover,
        &:focus {
            outline: 0;
            color: #fff;
            background-color: #003d76;
            border-color: #003d76;
        }
    }
}
