@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/BPGNinoMkhedruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMkhedruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/BPGNinoMtavruli.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BPG Mrgvlovani 2010";
  src: url("../fonts/BPGMrgvlovani2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovani2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Mrgvlovani Caps 2010";
  src: url("../fonts/BPGMrgvlovaniCaps2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovaniCaps2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --ff-mrgvlovani: "BPG Mrgvlovani 2010", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  --ff-nino-mtavruli: "BPG Nino Mtavruli", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  --ff-mrgvlovani-caps: "BPG Mrgvlovani Caps 2010", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-mrgvlovani);
  line-height: 1.7;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  text-transform: uppercase;
  color: #030303;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p a,
li a {
  color: #2080d9;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
p a:hover, p a:focus,
li a:hover,
li a:focus {
  color: #003d76;
}

.page-wrapper {
  position: relative;
  padding-top: 13px;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1100px) {
  .page-wrapper {
    padding-top: 0;
  }
}
.page-wrapper--top::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.page-wrapper--bottom::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.page-content {
  display: grid;
  grid-template-columns: 318px 1fr;
  gap: 30px;
  align-items: start;
  padding-bottom: 165px;
}
@media (max-width: 1100px) {
  .page-content {
    grid-template-columns: 1fr;
    padding-bottom: 100px;
  }
}

.text-flow > * + * {
  margin-top: 20px;
}
@media (max-width: 520px) {
  .text-flow > * + * {
    margin-top: 14px;
  }
}
.text-flow h2,
.text-flow h3 {
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  text-transform: uppercase;
}
.text-flow h2 {
  margin-bottom: 31px;
  font-size: 20px;
  color: #003d76;
}
@media (max-width: 520px) {
  .text-flow h2 {
    margin-bottom: 16px;
  }
}
.text-flow h3 {
  font-size: 18px;
}
.text-flow ul {
  list-style-type: disc;
  padding-left: 16px;
}
.text-flow li {
  font-family: var(--ff-mrgvlovani);
  font-size: 14px;
  color: #000000;
  line-height: 1.7;
}
.text-flow p {
  font-family: var(--ff-mrgvlovani);
  font-size: 14px;
  color: #000000;
  line-height: 1.7;
}
@media (max-width: 520px) {
  .text-flow p {
    font-size: 12px;
  }
}
.text-flow p span {
  margin-right: 20px;
}

.page-title {
  margin-bottom: 31px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  color: #003d76;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 520px) {
  .page-title {
    margin-bottom: 16px;
  }
}

.side-menu {
  padding-bottom: 30px;
  background-color: #174e82;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
@media (max-width: 1100px) {
  .side-menu {
    display: none;
  }
}
.side-menu__title {
  padding-block: 12px;
  padding-inline: 30px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #003d76;
  background-color: #f8f8f8;
}
.side-menu__dropdown.active .side-menu__content {
  max-height: 800px;
}
.side-menu__dropdown.active .side-menu__btn {
  color: #174e82;
  background-color: #e8edf3;
}
.side-menu__dropdown.active .side-menu__btn i {
  transform: rotate(180deg);
}
.side-menu__content {
  overflow-y: hidden;
  max-height: 0;
  transition: all 300ms ease-in-out;
}
.side-menu__dopdown-list {
  padding-block: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.side-menu__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 16px;
  padding-inline: 30px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  transition: all 150ms ease-in-out;
}
.side-menu__btn:hover, .side-menu__btn:focus {
  color: #174e82;
  background-color: #e8edf3;
}
.side-menu__btn.active {
  color: #174e82;
  background-color: #e8edf3;
}
.side-menu__btn.active i {
  transform: rotate(180deg);
}
.side-menu__btn i {
  margin-top: -4px;
  transition: transform 150ms ease-in-out;
}
.side-menu__link {
  padding-inline: 30px;
  display: block;
  font-family: var(--ff-mrgvlovani);
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.side-menu__link:hover, .side-menu__link:focus, .side-menu__link.active {
  color: #ecc173;
}

.board {
  max-width: 760px;
}
.board__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 20px;
  row-gap: 25px;
}

.board-member {
  padding: 36px 34px;
  border-radius: 20px;
  box-shadow: 0 3px 6px hsla(0deg, 0%, 0%, 0.16);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.board-member__name {
  font-size: 16px;
  color: #003d76;
}
.board-member__position {
  font-size: 10px;
  color: #363636;
}

.breadcrumbs {
  margin-bottom: 40px;
}
@media (max-width: 520px) {
  .breadcrumbs {
    margin-bottom: 20px;
  }
}
.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumbs ul li {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #363636;
}
.breadcrumbs ul li:not(:last-child) {
  margin-right: 14px;
}
.breadcrumbs ul li:not(:last-child)::after {
  content: "/";
  position: absolute;
  right: -10px;
}
.breadcrumbs ul li a {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  color: inherit;
  text-decoration: none;
}

.header {
  position: relative;
  margin-bottom: 20px;
  height: 116px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}
@media (max-width: 1300px) {
  .header {
    height: 80px;
  }
}
@media (max-width: 1100px) {
  .header {
    display: none;
  }
}
.header__logo img {
  width: 100%;
}
@media (max-width: 1300px) {
  .header__logo img {
    width: 120px;
    height: auto;
  }
}
.header__nav {
  margin-left: auto;
  margin-right: 12px;
}
.header__additional-actions {
  display: flex;
  align-items: center;
}
.header__search-btn {
  margin-right: 20px;
  display: block;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: #000000;
}
.header__search-btn i {
  pointer-events: none;
}
.header__search-form {
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px 20px;
  bottom: -96px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.header__search-form.active {
  transform: scaleY(1);
  opacity: 1;
}
.header__search-form form {
  display: flex;
  gap: 10px;
}
.header__search-form input {
  flex: 1;
  height: 50px;
  padding: 0 20px;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.header__search-form input::placeholder {
  color: #9f9f9f;
}
.header__search-form button {
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #1c5285;
  border: 0;
  border-radius: 5px;
  padding-inline: 20px;
  transition: all 200ms ease-in-out;
}
.header__search-form button:hover, .header__search-form button:focus {
  background-color: #a39161;
}
.header__internet-bank-btn {
  margin-right: 20px;
  height: 78px;
  display: flex;
  align-items: center;
  font-family: var(--ff-nino-mtavruli);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #1c5285;
  padding: 0 18px;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1300px) {
  .header__internet-bank-btn {
    font-size: 14px;
    height: 50px;
    padding-inline: 10px;
  }
}
.header__internet-bank-btn:hover {
  color: #fff;
  background-color: #a39161;
}
.header__nav-toggle {
  flex-shrink: 0;
  display: block;
  margin-left: 20px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: #1c5285;
}
.header__nav-toggle i {
  display: block;
}

.header-mobile {
  margin-bottom: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  display: none;
}
@media (max-width: 1100px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile__top {
  display: flex;
  justify-content: space-between;
}
.header-mobile__logo {
  width: 131px;
  padding: 10px 0 10px 16px;
}
.header-mobile__right {
  display: flex;
  align-items: center;
}
.header-mobile__internet-bank {
  height: 100%;
  width: 48px;
  background-color: #c3d6e9;
  display: grid;
  place-content: center;
  text-decoration: none;
  font-size: 24px;
  color: #1c5285;
}
.header-mobile__internet-bank i {
  display: block;
}
.header-mobile__burger {
  display: grid;
  place-content: center;
  height: 100%;
  width: 48px;
  background-color: #c3d6e9;
  border: 0;
  font-size: 24px;
  color: #1c5285;
}
.header-mobile__burger i {
  display: block;
}
.header-mobile__menu-titles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-mobile__btn {
  display: block;
  width: 100%;
  height: 30px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  border: 0;
}
@media (max-width: 560px) {
  .header-mobile__btn {
    font-size: 10px;
  }
}
.header-mobile__btn.active {
  color: #fff;
  background-color: #1c5285;
}
.header-mobile__lang {
  margin-top: auto;
}

@media (max-width: 1100px) {
  .menu-open .page-wrapper {
    transform: translateX(-80%);
  }
}
.kycb__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 520px) {
  .kycb__list {
    gap: 10px;
  }
}
.kycb__link {
  position: relative;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  padding-left: 33px;
}
@media (max-width: 520px) {
  .kycb__link {
    font-size: 12px;
  }
}
.kycb__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/globe.svg);
  background-size: cover;
}

.nav > ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.nav__dropdown {
  position: relative;
}
.nav__dropdown:hover .nav__content {
  transform: scaleY(1);
}
.nav__dropdown:hover .dropdonw__trigger {
  background-color: #003d76;
}
.nav__dropdown:hover .dropdonw__trigger span {
  color: #fff;
}
.nav__dropdown:hover .dropdonw__trigger i {
  color: #fff;
  transform: translateY(-50%) rotate(180deg);
}
.nav__btn {
  position: relative;
  background-color: transparent;
  border: 0;
  padding-inline: 20px;
  height: 78px;
  padding-right: 44px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1300px) {
  .nav__btn {
    height: 50px;
    padding-inline: 10px 20px;
  }
}
.nav__btn.active {
  background-color: #003d76;
}
.nav__btn.active span {
  color: #fff;
}
.nav__btn.active i {
  color: #fff;
}
.nav__btn span {
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #003d76;
  transition: all 150ms ease-in-out;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .nav__btn span {
    font-size: 14px;
  }
}
.nav__btn i {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: hsla(0deg, 0%, 0%, 0.18);
  transition: all 150ms ease-in-out;
  pointer-events: none;
}
@media (max-width: 1300px) {
  .nav__btn i {
    right: 6px;
  }
}
.nav__content {
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 200ms ease-in-out;
}
.nav__list {
  padding-inline: 20px;
  padding-block: 20px;
  width: 100%;
  min-width: max-content;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsla(0deg, 0%, 100%, 0.95);
}
@media (min-width: 1366px) {
  .nav__list {
    gap: 20px;
  }
}
.nav__item {
  line-height: 1;
}
.nav__link {
  display: block;
  font-family: var(--ff-nino-mtavruli);
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.nav__link:hover, .nav__link:focus {
  color: #003d76;
}

.banner {
  border-radius: 20px;
  margin-bottom: 40px;
}
.banner--hero {
  padding: 76px 65px;
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (max-width: 1080px) {
  .banner--hero {
    height: 200px;
    padding: 30px;
  }
}
.banner--appstore {
  position: relative;
  padding-block: 40px;
  padding-inline: 85px;
  display: flex;
  align-items: center;
  gap: 74px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1440px) {
  .banner--appstore {
    padding: 30px;
  }
}
@media (max-width: 1080px) {
  .banner--appstore {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .banner--appstore .banner__title {
    text-align: center;
  }
}
.banner--appstore::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(209deg, 65%, 32%, 0.35);
}
.banner--appstore * {
  position: relative;
}
.banner--inner {
  height: 250px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media (max-width: 1100px) {
  .banner--inner {
    height: 200px;
  }
}
@media (max-width: 520px) {
  .banner--inner {
    height: 160px;
    margin-bottom: 20px;
  }
}
.banner--about {
  padding-inline: 65px;
  display: flex;
  align-items: center;
}
@media (max-width: 1100px) {
  .banner--about {
    padding-inline: 16px;
  }
}
.banner--about > * {
  line-height: 1 !important;
}
.banner__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
@media (max-width: 1440px) {
  .banner__title {
    font-size: 34px;
  }
}
@media (max-width: 1080px) {
  .banner__title {
    font-size: 28px;
  }
}
@media (max-width: 520px) {
  .banner__title {
    font-size: 22px;
  }
}
.banner__title--sm {
  font-size: 35px;
  max-width: 50ch;
}
@media (max-width: 1440px) {
  .banner__title--sm {
    font-size: 30px;
  }
}
@media (max-width: 1080px) {
  .banner__title--sm {
    font-size: 24px;
  }
}

.appstore__title {
  margin-bottom: 25px;
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 1080px) {
  .appstore__title {
    text-align: center;
  }
}

.store-options {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 520px) {
  .store-options {
    flex-direction: column;
  }
}

.store-btn {
  width: 176px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1100px) {
  .store-btn {
    width: 160px;
    height: 50px;
  }
}
.store-btn--google-play {
  background-color: #a39161;
  color: #fff;
}
.store-btn--google-play:hover, .store-btn--google-play:focus {
  background-color: #ecc173;
}
.store-btn--appstore {
  background-color: rgba(255, 255, 255, 0.16);
  color: #fff;
}
.store-btn--appstore:hover, .store-btn--appstore:focus {
  background-color: #fff;
  color: #000000;
}

.correspondent-banks__table {
  border-collapse: collapse;
}
.correspondent-banks__table thead tr > *:nth-child(1),
.correspondent-banks__table tbody tr > *:nth-child(1) {
  padding-right: 24px;
}
.correspondent-banks__table thead tr > *:nth-child(3),
.correspondent-banks__table tbody tr > *:nth-child(3) {
  padding-right: 67px;
}
.correspondent-banks__table thead tr > *,
.correspondent-banks__table tbody tr > * {
  padding-right: 30px;
}
.correspondent-banks__table th {
  padding-bottom: 18px;
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  font-weight: 400;
  color: #040c23;
  text-align: left;
  border-bottom: 1px solid #cecece;
}
.correspondent-banks__table td {
  padding-block: 24px;
  font-family: var(--ff-mrgvlovani);
  font-size: 14px;
  color: #040c23;
  border-bottom: 1px solid #cecece;
}
.correspondent-banks__table td p {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.correspondent-banks__table td small {
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  color: #93959d;
}

.contact__filters {
  display: flex;
  gap: 20px;
}
.contact__filters select {
  min-width: 186px;
  height: 50px;
  padding: 16px 20px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  cursor: pointer;
}
.contact__filters select:focus {
  outline-color: #174e82;
}
.contact__filters select option {
  line-height: 1;
}
.contact h3 {
  font-size: 18px;
  color: #a39161;
}
.contact h3,
.contact h4 {
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  text-transform: uppercase;
}
.contact ul {
  margin-bottom: 31px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 905px;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 18px 27px;
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  color: #9b9b9b;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
.contact-form input:hover, .contact-form input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-color: #003d76;
  outline-color: #003d76;
}
.contact-form textarea {
  height: 155px;
}
.contact-form button {
  width: 188px;
  height: 46px;
  padding: 14px 58px;
  font-family: var(--ff-mrgvlovani-caps);
  font-size: 14px;
  color: #ffffff;
  background-color: #003d76;
  border: 0;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
.contact-form button:hover, .contact-form button:focus {
  outline-color: transparent;
  background-color: #a39161;
}
.contact-form__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contact-form .social-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-direction: row;
  gap: 34px;
}

.map {
  margin-top: 43px;
  max-width: 905px;
  height: 244px;
  border-radius: 5px;
}

.currency {
  padding: 49px 34px 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 31px;
  background-color: #91aec8;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
@media (max-width: 1080px) {
  .currency {
    flex-direction: column;
    padding: 30px;
  }
  .currency > div:nth-child(1) {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .currency {
    padding: 16px;
  }
}
.currency--alt {
  background-color: #e8edf3;
}
.currency__title {
  margin-bottom: 27px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.currency__view-more {
  margin-left: auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  background-color: transparent;
  border: 0;
}
.currency__view-more span {
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
}

.currency-converter {
  width: 100%;
}
@media (max-width: 1399px) {
  .currency-converter {
    max-width: 520px;
  }
}
@media (max-width: 1080px) {
  .currency-converter {
    max-width: unset;
  }
}

.directorate {
  max-width: 940px;
}
.directorate__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
  column-gap: 80px;
  row-gap: 30px;
}

.directorate-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directorate-member__image {
  margin-bottom: 31px;
  width: 172px;
  height: 172px;
  border-radius: 100%;
  overflow: hidden;
}
.directorate-member__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.directorate-member__name {
  margin-bottom: 10px;
  font-size: 16px;
  color: #003d76;
  text-align: center;
}
.directorate-member__position {
  font-size: 10px;
  color: #363636;
  text-align: center;
}

.fixed-menu {
  position: fixed;
  right: 80px;
  top: 209px;
  z-index: 10000;
}
@media (max-width: 1440px) {
  .fixed-menu {
    right: 16px;
  }
}
@media (max-width: 1100px) {
  .fixed-menu {
    top: unset;
    position: relative;
    right: 0;
  }
}
.fixed-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1100px) {
  .fixed-menu__list {
    flex-direction: row;
    gap: 0;
  }
}
@media (max-width: 1100px) {
  .fixed-menu__item {
    width: 33.33%;
  }
}
.fixed-menu__btn {
  width: 134px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #003d76;
  border-radius: 5px;
  color: #003d76;
  background-color: #fff;
  transition: all 200ms ease-in-out;
}
@media (max-width: 1100px) {
  .fixed-menu__btn {
    width: 100%;
    height: auto;
    padding-block: 10px;
    border-radius: 0;
    flex-direction: row;
  }
}
.fixed-menu__btn:hover, .fixed-menu__btn:focus {
  background-color: #003d76;
  color: #fff;
}
.fixed-menu__btn i {
  font-size: 24px;
}
.fixed-menu__btn span {
  font-family: var(--ff-nino-mtavruli);
  font-size: 12px;
  text-align: center;
  line-height: 1;
}
@media (max-width: 1100px) {
  .fixed-menu__btn span {
    transform: translateY(3px);
  }
}
@media (max-width: 768px) {
  .fixed-menu__btn span {
    display: none;
  }
}

.currency-rates {
  display: grid;
  row-gap: 1px;
  min-width: 588.8px;
  font-size: 14px;
}
@media (max-width: 1100px) {
  .currency-rates {
    min-width: unset;
  }
}
.currency-rates--smaller {
  font-size: 12px;
}
.currency-rates__row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #ffffff;
  border-radius: 5px;
}
.currency-rates__row--header > * {
  padding-block: 20px !important;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #1c5285 !important;
}
@media (max-width: 1100px) {
  .currency-rates__row--header > * {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .currency-rates__row--header > * {
    font-size: 8px;
  }
}
.currency-rates__row > * {
  align-items: center;
  padding-block: 12px;
  font-family: var(--ff-mrgvlovani-caps);
  color: #000000;
  text-align: center;
}
@media (max-width: 1100px) {
  .currency-rates__row > * {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .currency-rates__row > * {
    font-size: 8px;
  }
}
.currency-rates__row > *:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}

.rating__image {
  margin-bottom: 26px;
}
.rating__info {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  width: fit-content;
}
.rating li {
  margin-bottom: 24px;
  padding-bottom: 24px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  border-bottom: 1px solid #707070;
}
.rating li span {
  font-family: var(--ff-mrgvlovani);
  font-size: 14px;
  color: #040c23;
}

.reports__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.report.active .report__btn {
  background-color: #003d76;
  border-color: #003d76;
  border-bottom-color: #0361b9;
  border-radius: 5px 5px 0 0;
}
.report.active .report__year {
  color: #fff;
}
.report.active .report__icon::before, .report.active .report__icon::after {
  background-color: #fff;
}
.report.active .report__icon::after {
  transform: rotate(90deg);
}
.report.active .report__content {
  max-height: 1000px;
}
.report__btn {
  display: block;
  width: 100%;
  padding: 22px 30px;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 200ms ease-in-out;
}
.report__year {
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
}
.report__icon {
  position: relative;
}
.report__icon::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  height: 6px;
  width: 22px;
  background-color: #000000;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.report__icon::after {
  content: "";
  position: absolute;
  right: 8px;
  top: -11px;
  height: 22px;
  width: 6px;
  background-color: #000000;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.report__content {
  background-color: #003d76;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
}
.report__files {
  margin: 0;
  padding: 25px 30px !important;
  list-style-type: none !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.report__link {
  display: flex;
  align-items: center;
  gap: 18px;
  text-decoration: none;
}
.report__file-icon {
  color: #fff;
  font-size: 30px;
}
.report__title {
  margin: 0 !important;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px !important;
  font-weight: 700;
  color: #fff !important;
  text-transform: capitalize;
}
.report__time {
  margin-top: 6px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 10px;
  font-weight: 700;
  color: #ecc173;
  text-transform: capitalize;
}

.requisites h3 {
  font-family: var(--ff-nino-mtavruli);
  font-size: 18px;
  font-weight: 700;
  color: #a39161;
  text-transform: uppercase;
}
.requisites__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.requisites__item {
  display: grid;
  grid-template-columns: 23px auto;
  column-gap: 20px;
}
.requisites p,
.requisites a {
  font-family: var(--ff-mrgvlovani);
  font-size: 16px;
  color: #040c23;
  text-decoration: none;
}
.requisites i {
  font-size: 22px;
  color: #003d76;
}

.converter__tabs {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.converter__btn {
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
}
.converter__btn.active {
  padding: 12px 37px 10px 38px;
  background-color: #1c5285;
}
.converter__btn--alt {
  color: #003d76;
}
.converter__btn--alt.active {
  color: #fff;
  background-color: #a39161;
}
.converter__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1399px) {
  .converter__content {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
}
@media (max-width: 1080px) {
  .converter__content {
    flex-direction: row;
    align-items: center;
  }
}
@media (max-width: 680px) {
  .converter__content {
    flex-direction: column;
    align-items: stretch;
  }
}
.converter__content--vertical {
  flex-direction: column;
  gap: 16px;
}
.converter__input {
  position: relative;
}
.converter__input input {
  width: 290px;
  height: 60px;
  padding-inline: 20px 96px;
  display: block;
  background-color: #f8f8f8;
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  color: #000;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
@media (max-width: 1399px) {
  .converter__input input {
    width: 100%;
  }
}
.converter__input input::placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.converter__input input::-webkit-outer-spin-button, .converter__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.converter__input input[type=number] {
  -moz-appearance: textfield;
}
.converter__switch {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #a39161;
  border: 0;
  border-radius: 100%;
  align-self: center;
}

.select-currency {
  position: absolute;
  right: 0;
  top: 0;
  font-family: var(--ff-mrgvlovani-caps);
}
.select-currency.open .select-currency__btn {
  border-radius: 5px 5px 0 0;
}
.select-currency.open .select-currency__options {
  max-height: 500px;
}
.select-currency__btn {
  padding-inline: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: border-radius 100ms ease-in-out;
}
.select-currency__selected {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.select-currency__options {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: max-height 200ms ease-in-out;
}
.select-currency__option {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  padding-inline: 18px;
  padding-block: 5px;
  text-align: left;
}

.deposit-calculator {
  margin-top: 50px;
  padding: 38px 40px 45px 30px;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.deposit-calculator__container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.deposit-calculator__group {
  position: relative;
}
.deposit-calculator__title {
  margin-top: 0 !important;
  margin-bottom: 23px;
  font-size: 16px;
  color: #003d76;
}
.deposit-calculator label {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  color: #030303;
  line-height: 1;
}
.deposit-calculator input,
.deposit-calculator select {
  height: 50px;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding-inline: 10px;
  color: #9f9f9f;
}
.deposit-calculator input:focus,
.deposit-calculator select:focus {
  outline-color: #003d76;
}
.deposit-calculator input::placeholder {
  color: #9f9f9f;
}
.deposit-calculator input::-webkit-outer-spin-button,
.deposit-calculator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.deposit-calculator input[type=number] {
  -moz-appearance: textfield;
}
.deposit-calculator input[name=amount] {
  width: 130px;
}
.deposit-calculator input[name=percentage] {
  width: 237px;
  padding-right: 63px;
}
.deposit-calculator select[name=withdrawal] {
  width: 275px;
}
.deposit-calculator select[name=term] {
  width: 131px;
}
.deposit-calculator select[name=currency] {
  width: 109px;
}
.deposit-calculator__hint {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 53px;
  height: 50px;
  display: grid;
  place-content: center;
  color: #fff;
  background: #003d76;
  border-radius: 0px 5px 5px 0px;
}
.deposit-calculator__btn {
  margin-top: 25px;
  margin-left: auto;
  width: 237px;
  height: 50px;
  display: block;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  color: #ffffff;
  background: #003d76 0% 0% no-repeat padding-box;
  border: 0;
  border-radius: 5px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 80%;
  min-height: 100%;
  height: auto;
  background-color: #1c5285;
  transition: all 200ms ease-in-out;
  display: none;
}
@media (max-width: 1100px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu.open {
  right: 0;
}
.mobile-menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu__section {
  display: none;
}
.mobile-menu__section.active {
  display: block;
}
.mobile-menu__dropdown.active .mobile-menu__btn {
  background-color: #fff;
  color: #1c5285;
}
.mobile-menu__dropdown.active .mobile-menu__content {
  max-height: 500px;
}
.mobile-menu__content {
  max-height: 0;
  overflow-y: hidden;
  transition: all 500ms ease-in-out;
}
.mobile-menu__dopdown-list {
  padding: 4px 8px;
  border-bottom: 1px solid #fff;
}
.mobile-menu__link {
  color: #fff;
  font-size: 12px;
}
.mobile-menu__link:hover, .mobile-menu__link:active, .mobile-menu__link:focus {
  color: #a39161;
}
.mobile-menu__btn {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-mrgvlovani-caps);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  background-color: transparent;
  border: 0;
}
.mobile-menu__btn:hover {
  color: #fff;
}
.mobile-menu__lang a {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}
.mobile-menu__lang span {
  transform: translateY(2px);
}
.mobile-menu__lang img {
  flex-shrink: 0;
}

.news {
  margin-top: 60px;
  margin-bottom: 84px;
}
@media (max-width: 1100px) {
  .news {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.news__title {
  margin-bottom: 62px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
@media (max-width: 1100px) {
  .news__title {
    margin-bottom: 30px;
  }
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 50px;
}
@media (max-width: 520px) {
  .news__grid {
    grid-template-columns: 1fr;
  }
}
.news__link {
  margin-top: 66px;
  display: flex;
  justify-content: center;
}
.news__see-all {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding-inline: 42px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  background-color: #1c5285;
  border-radius: 5px;
}

.news-article {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.news-article__image {
  flex-shrink: 0;
  flex-basis: 174px;
  height: 162px;
  display: grid;
  place-content: center;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  background-color: #fff;
}
.news-article__header {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.news-article__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
}
.news-article__meta {
  display: flex;
  align-items: center;
  gap: 6.6px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 12px;
  font-weight: 700;
  color: #003d76;
  text-transform: capitalize;
}
.news-article__meta time {
  display: block;
  line-height: 1;
}
.news-article__body {
  font-family: var(--ff-mrgvlovani);
  font-size: 10px;
  color: #363636;
}
.news-article__body > * + * {
  margin-bottom: 16px;
}
.news-article__go-back {
  margin-top: 62px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #003d76;
  text-decoration: none;
}
.news-article__go-back span {
  font-family: var(--ff-nino-mtavruli);
  font-size: 12px;
  font-weight: 700;
  color: #003d76;
  text-transform: capitalize;
}

.news-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 520px) {
  .news-card {
    flex-direction: column;
  }
}
.news-card__image {
  flex-shrink: 0;
  width: 174px;
  height: 162px;
  display: grid;
  place-content: center;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}
.news-card__header {
  margin-bottom: 14px;
}
.news-card__title {
  margin-top: 0 !important;
  line-height: 1.2;
}
.news-card__title a {
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.news-card__meta {
  margin-top: 26px;
  display: flex;
  align-content: center;
  gap: 6px;
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  font-size: 16px;
  color: #003d76;
}
.news-card__body {
  font-family: var(--ff-mrgvlovani);
  font-size: 10px;
  color: #929292;
}

.pagination {
  margin-top: 60px;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.pagination__btn {
  width: 31px;
  height: 31px;
  display: grid;
  place-content: center;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #003d76;
  border-radius: 3px;
  box-shadow: 0 3px 6px hsla(0deg, 0%, 0%, 0.16);
}
.pagination__link {
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.partners__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.partner:first-child {
  position: relative;
  padding-right: 50px;
}
.partner:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 441px;
  width: 1px;
  background-color: #ececec;
}
.partner:nth-child(2n) {
  padding-left: 50px;
}
.partner__header {
  margin: 21px 0 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner__name {
  font-size: 16px;
  color: #003d76;
}
.partner__content {
  font-size: 12px;
  color: #040c23;
}
.partner__content > * + * {
  margin-top: 16px;
}
.partner__content ul {
  list-style-type: initial;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.partner__content a {
  color: #040c23;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.partner__content a:hover, .partner__content a:focus {
  color: #003d76;
}
.partner__see-more {
  width: 20px;
  height: 20px;
  display: grid;
  place-content: center;
  color: #fff;
  background-color: #003d76;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 3px 6px hsla(0deg, 0%, 0%, 0.16);
}

.products {
  margin-top: 100px;
  margin-bottom: 80px;
}
@media (max-width: 1100px) {
  .products {
    margin-top: 50px;
  }
}
.products__title {
  margin-bottom: 80px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
@media (max-width: 1100px) {
  .products__title {
    margin-bottom: 30px;
  }
}
.products__grid {
  padding-inline: 137px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 1100px) {
  .products__grid {
    padding-inline: 16px;
  }
}
@media (max-width: 520px) {
  .products__grid {
    grid-template-columns: 1fr;
    padding-inline: 0;
  }
}

.product-card__link {
  --title-clr: #000;
  --text-clr: #707070;
  --icon-bg: #a39161;
  --icon-clr: #003d76;
  --cta-clr: transparent;
  display: block;
  padding: 46px 36px;
  padding-bottom: 27px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.16);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
@media (max-width: 520px) {
  .product-card__link {
    padding: 16px;
  }
}
.product-card__link:hover, .product-card__link:focus {
  --title-clr: #fff;
  --text-clr: #fff;
  --icon-bg: #fff;
  --icon-clr: #a39161;
  --cta-clr: #fff;
  background-color: #a39161;
}
.product-card__header {
  margin-bottom: 47px;
  display: flex;
  align-items: center;
  gap: 34px;
}
@media (max-width: 520px) {
  .product-card__header {
    gap: 10px;
    margin-bottom: 20px;
  }
}
.product-card__icon {
  position: relative;
  width: 54px;
  height: 54px;
  display: grid;
  place-content: center;
  border: 1px solid #a39161;
  border-radius: 5px;
  background-color: #fff;
}
.product-card__icon::before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 4px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--icon-bg);
}
.product-card__icon::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 4px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--icon-bg);
}
.product-card__icon i {
  display: block;
  color: var(--icon-clr);
  font-size: 22px;
}
.product-card__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: var(--title-clr);
}
@media (max-width: 520px) {
  .product-card__title {
    font-size: 16px;
  }
}
.product-card__body {
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  color: var(--text-clr);
}
.product-card__cta {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
@media (max-width: 520px) {
  .product-card__cta {
    margin-top: 20px;
  }
}
.product-card__cta span {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 12px;
  color: var(--cta-clr);
}
.product-card__cta i {
  color: var(--cta-clr);
}

.footer {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer__grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1100px) {
  .footer__grid {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.footer__grid > * {
  flex-basis: 240px;
}
@media (max-width: 1100px) {
  .footer__grid > * {
    display: none;
  }
  .footer__grid > *:nth-child(1), .footer__grid > *:nth-child(2) {
    display: block;
  }
}
@media (max-width: 1440px) {
  .footer__grid > * {
    flex-basis: 210px;
    gap: 20px;
  }
}
.footer__nav:first-of-type {
  display: none;
}
.footer__title {
  margin-bottom: 19px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #1c5285;
}
@media (max-width: 1440px) {
  .footer__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__list li {
  line-height: 1;
}
.footer__link {
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  color: #474747;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .footer__link {
    margin-bottom: 10px;
    font-size: 12px;
  }
}
.footer__copy {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 14px;
  color: hsla(209deg, 65%, 32%, 0.58);
}
.footer__copy a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .footer img {
    width: 160px;
    height: auto;
  }
}

.services {
  margin-block: 40px;
  font-size: 14px;
  color: #040c23;
}
.services__title {
  margin-bottom: 30px;
  padding-inline: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #003d76;
  background-color: #e8edf3;
}
.services__list {
  padding: 0 !important;
  list-style-type: none !important;
}
.services__list ul {
  padding: 0 !important;
  list-style-type: none !important;
}
.services__bordered-listing {
  min-width: 627px;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #707070;
}
.services__nested-list {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}
.services__info > * + * {
  margin-top: 20px;
}
.services__table {
  font-size: 14px;
}
.services__table table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.services__table tr:nth-child(2) th:nth-child(2n) {
  border-right: 0;
}
.services__table th,
.services__table td {
  padding-block: 24px;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
}
.services__table th {
  font-weight: 400;
}
.services__table th:first-child {
  text-align: left;
}
.services__table td:not(:first-child) {
  text-align: center;
}

.index-slider {
  height: 537px;
}
@media (max-width: 1440px) {
  .index-slider {
    height: 420px;
  }
}
@media (max-width: 1100px) {
  .index-slider {
    height: 320px;
  }
}
.index-slider__slide {
  position: relative;
  height: 100%;
  padding-inline: 126px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
}
.index-slider__slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(209deg, 65%, 32%, 0.5);
  border-radius: 20px;
  z-index: -1;
}
.index-slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-slider__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: clamp(20px, 2vw + 1rem, 55px);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.index-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ecc173;
  opacity: 1;
}
.index-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

.social-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-menu a {
  color: #1c5285;
  font-size: 18px;
  text-decoration: none;
}
.social-menu--footer {
  margin-top: 40px;
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .social-menu--footer {
    margin-block: 20px;
  }
}

.subscribe {
  margin-top: 136px;
  padding-bottom: 171px;
}
@media (max-width: 1100px) {
  .subscribe {
    margin-top: 40px;
    padding-bottom: 50px;
  }
}
.subscribe__grid {
  display: flex;
  align-items: flex-end;
  gap: 92px;
}
@media (max-width: 1100px) {
  .subscribe__grid {
    justify-content: center;
  }
}
.subscribe__grid > div {
  max-width: 570px;
  margin-right: 54px;
}
@media (max-width: 1100px) {
  .subscribe__grid > div {
    max-width: unset;
    margin-right: unset;
  }
}
.subscribe__image {
  position: relative;
  width: 588px;
  height: 338px;
  margin-left: 120px;
}
@media (max-width: 1100px) {
  .subscribe__image {
    display: none;
  }
}
.subscribe__image::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -33px;
  width: 267px;
  height: 221px;
  background-color: #003d76;
  border-radius: 10px;
  z-index: -1;
}
.subscribe__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.subscribe__title {
  margin-bottom: 20px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 30px;
  font-weight: 700;
  color: #484848;
}
@media (max-width: 520px) {
  .subscribe__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.subscribe__subtitle {
  margin-bottom: 37px;
  font-family: var(--ff-mrgvlovani);
  font-size: 16px;
  color: #757575;
}
@media (max-width: 520px) {
  .subscribe__subtitle {
    font-size: 12px;
  }
}
.subscribe__form {
  margin-bottom: 24px;
  position: relative;
}
@media (max-width: 520px) {
  .subscribe__form {
    margin-bottom: 20px;
  }
}
.subscribe__input {
  display: block;
  width: 100%;
  padding-block: 15px;
  padding-right: 130px;
  font-family: var(--ff-mrgvlovani);
  font-size: 16px;
  color: #757575;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #707070;
}
@media (max-width: 520px) {
  .subscribe__input {
    padding-right: 0;
  }
}
.subscribe__input::placeholder {
  font-family: inherit;
  color: inherit;
}
.subscribe__input:focus {
  outline: 0;
  border-bottom-color: #003d76;
}
.subscribe__btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 120px;
  height: 40px;
  display: grid;
  place-content: center;
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  color: #757575;
  background-color: #fff;
  border: 1px solid #a39161;
  transition: all 150ms ease-in-out;
}
@media (max-width: 520px) {
  .subscribe__btn {
    position: relative;
    margin-top: 20px;
  }
}
.subscribe__btn:hover, .subscribe__btn:focus {
  outline: 0;
  color: #fff;
  background-color: #003d76;
  border-color: #003d76;
}

.vacancies__grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.vacancies__heading {
  display: grid;
  grid-template-columns: 356px 160px 229px 187px;
  gap: 20px;
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  color: #003d76;
}
.vacancies.text-flow li,
.vacancies.text-flow p,
.vacancies.text-flow a {
  font-size: 16px;
}

.vacancy__shown {
  display: grid;
  grid-template-columns: 356px 160px 229px 187px;
  gap: 20px;
}
.vacancy__shown > div {
  padding: 20px 22px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 3px 6px hsla(0deg, 0%, 0%, 0.16);
}
.vacancy__shown > div:last-child {
  padding: 0;
}
.vacancy__shown > div p {
  font-family: var(--ff-mrgvlovani);
  font-size: 14px;
  color: #030303;
}
.vacancy__shown > div button {
  display: block;
  width: 100%;
  height: 100%;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #003d76;
  border: 0;
  border-radius: 10px;
}
.vacancy__full {
  margin-top: 30px;
}
.vacancy__content {
  padding: 26px 29px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 3px 6px hsla(0deg, 0%, 0%, 0.16);
}
.vacancy__content > * + * {
  margin-top: 20px;
}
.vacancy ul ul {
  padding-left: 44px;
}
.vacancy__send-cv h3 {
  margin-bottom: 21px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #003d76;
  text-transform: capitalize;
}
.vacancy__form-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.vacancy__form-container input[name=name] {
  display: block;
  height: 60px;
  width: 281px;
  padding: 20px 18px;
  font-family: var(--ff-mrgvlovani);
  font-size: 16px;
  color: #030303;
  border: 1px solid #ececec;
  border-radius: 5px;
}
.vacancy__form-container input[name=cv-file] {
  display: none;
}
.vacancy__form-container .file-upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 217px;
  height: 60px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  background-color: #a39161;
  border-radius: 5px;
  cursor: pointer;
}
.vacancy__form-container button[type=submit] {
  display: block;
  width: 207px;
  height: 60px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  background-color: #003d76;
  border: 0;
  border-radius: 5px;
}

.container {
  width: min(100% - 2rem, 1360px);
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
