@font-face {
  font-family: "BPG Nino Mkhedruli";
  src: url("../fonts/BPGNinoMkhedruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMkhedruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/BPGNinoMtavruli.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BPG Mrgvlovani 2010";
  src: url("../fonts/BPGMrgvlovani2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovani2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Mrgvlovani Caps 2010";
  src: url("../fonts/BPGMrgvlovaniCaps2010.woff2") format("woff2"), url("../fonts/BPGMrgvlovaniCaps2010.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --ff-mrgvlovani: "BPG Mrgvlovani 2010", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  --ff-nino-mtavruli: "BPG Nino Mtavruli", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  --ff-mrgvlovani-caps: "BPG Mrgvlovani Caps 2010", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

.page-wrapper {
  position: relative;
  padding-top: 13px;
}
.page-wrapper::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.page-wrapper::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background-image: linear-gradient(to bottom, #ececec, rgba(246, 246, 246, 0.49));
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.header {
  margin-bottom: 20px;
  height: 116px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

.nav > ul {
  display: flex;
  gap: 12px;
}
.nav__dropdown {
  position: relative;
}
.nav__btn {
  position: relative;
  background-color: transparent;
  border: 0;
  padding: 28px 20px;
  padding-right: 44px;
  border-radius: 5px;
  text-decoration: none;
}
.nav__btn:hover span, .nav__btn:focus span {
  color: #000000;
}
.nav__btn.active {
  background-color: #003d76;
}
.nav__btn.active span {
  color: #fff;
}
.nav__btn.active i {
  color: #fff;
}
.nav__btn span {
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #003d76;
  transition: color 150ms ease-in-out;
}
.nav__btn i {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  color: hsla(0deg, 0%, 0%, 0.18);
}
.nav__content {
  position: absolute;
  width: 100%;
  max-height: 0;
  overflow: hidden;
}
.nav__list {
  padding-inline: 20px;
  padding-block: 20px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hsla(0deg, 0%, 100%, 0.95);
}
@media (min-width: 1366px) {
  .nav__list {
    gap: 20px;
  }
}
.nav__link {
  display: block;
  font-family: var(--ff-nino-mtavruli);
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.nav__link:hover, .nav__link:focus {
  color: #003d76;
}
.nav__internet-bank-btn {
  height: 78px;
  display: flex;
  align-items: center;
  font-family: var(--ff-nino-mtavruli);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #1c5285;
  padding: 0 18px;
  border-radius: 5px;
}

.banner {
  border-radius: 20px;
}
.banner--hero {
  margin-bottom: 40px;
  padding: 76px 65px;
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
}
.banner--appstore {
  position: relative;
  padding-block: 40px;
  padding-inline: 85px;
  display: flex;
  align-items: center;
  gap: 74px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner--appstore::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(209deg, 65%, 32%, 0.35);
}
.banner--appstore * {
  position: relative;
}
.banner__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
.banner__title--sm {
  font-size: 35px;
  max-width: 50ch;
}

.appstore__title {
  margin-bottom: 25px;
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.store-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.store-btn {
  width: 176px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.store-btn--google-play {
  background-color: #a39161;
  color: #fff;
}
.store-btn--google-play:hover, .store-btn--google-play:focus {
  background-color: #ecc173;
}
.store-btn--appstore {
  background-color: rgba(255, 255, 255, 0.16);
  color: #fff;
}
.store-btn--appstore:hover, .store-btn--appstore:focus {
  background-color: #fff;
  color: #000000;
}

.currency {
  padding: 49px 34px 38px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #91aec8;
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.currency__title {
  margin-bottom: 27px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.converter__tabs {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.converter__btn {
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
}
.converter__btn.active {
  padding: 12px 37px 10px 38px;
  background-color: #1c5285;
}
.converter__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.converter__input {
  position: relative;
}
.converter__input input {
  width: 290px;
  height: 60px;
  padding-inline: 20px 96px;
  display: block;
  background-color: #f8f8f8;
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  color: #000;
  border: 0;
  border-radius: 5px;
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.converter__input input::placeholder {
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.converter__input input::-webkit-outer-spin-button, .converter__input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.converter__input input[type=number] {
  -moz-appearance: textfield;
}
.converter__switch {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #a39161;
  border: 0;
  border-radius: 100%;
}

.select-currency {
  position: absolute;
  right: 0;
  top: 0;
  font-family: var(--ff-mrgvlovani-caps);
}
.select-currency.open .select-currency__btn {
  border-radius: 5px 5px 0 0;
}
.select-currency.open .select-currency__options {
  max-height: 500px;
}
.select-currency__btn {
  padding-inline: 18px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: border-radius 100ms ease-in-out;
}
.select-currency__selected {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}
.select-currency__options {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  transition: max-height 200ms ease-in-out;
}
.select-currency__option {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  padding-inline: 18px;
  padding-block: 5px;
  text-align: left;
}

.news {
  margin-top: 60px;
  margin-bottom: 84px;
}
.news__title {
  margin-bottom: 62px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 50px;
}
.news__link {
  margin-top: 66px;
  display: flex;
  justify-content: center;
}
.news__see-all {
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding-inline: 42px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-decoration: none;
  background-color: #1c5285;
  border-radius: 5px;
}

.news-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.news-card__image {
  flex-shrink: 0;
  width: 174px;
  height: 162px;
  display: grid;
  place-content: center;
  border: 1px solid #f8f8f8;
  border-radius: 5px;
}
.news-card__header {
  margin-bottom: 14px;
}
.news-card__title {
  line-height: 1.2;
}
.news-card__title a {
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.news-card__meta {
  margin-top: 26px;
  display: flex;
  align-content: center;
  gap: 6px;
  font-family: var(--ff-nino-mtavruli);
  font-weight: 700;
  font-size: 16px;
  color: #003d76;
}
.news-card__body {
  font-family: var(--ff-mrgvlovani);
  font-size: 10px;
  color: #929292;
}

.products {
  margin-top: 100px;
  margin-bottom: 80px;
}
.products__title {
  margin-bottom: 80px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.products__grid {
  padding-inline: 137px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(513px, 1fr));
  justify-content: space-between;
  gap: 60px;
}

.product-card__link {
  --title-clr: #000;
  --text-clr: #707070;
  --icon-bg: #a39161;
  --icon-clr: #003d76;
  --cta-clr: transparent;
  display: block;
  padding: 46px 36px;
  padding-bottom: 27px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.16);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.product-card__link:hover, .product-card__link:focus {
  --title-clr: #fff;
  --text-clr: #fff;
  --icon-bg: #fff;
  --icon-clr: #a39161;
  --cta-clr: #fff;
  background-color: #a39161;
}
.product-card__header {
  margin-bottom: 47px;
  display: flex;
  align-items: center;
  gap: 34px;
}
.product-card__icon {
  position: relative;
  width: 54px;
  height: 54px;
  display: grid;
  place-content: center;
  border: 1px solid #a39161;
  border-radius: 5px;
  background-color: #fff;
}
.product-card__icon::before {
  content: "";
  position: absolute;
  left: -4px;
  bottom: 4px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--icon-bg);
}
.product-card__icon::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 4px;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background-color: var(--icon-bg);
}
.product-card__icon i {
  display: block;
  color: var(--icon-clr);
  font-size: 22px;
}
.product-card__title {
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: var(--title-clr);
}
.product-card__body {
  font-family: var(--ff-mrgvlovani);
  font-size: 12px;
  color: var(--text-clr);
}
.product-card__cta {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.product-card__cta span {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 12px;
  color: var(--cta-clr);
}
.product-card__cta i {
  color: var(--cta-clr);
}

.footer {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 40px;
}
.footer__grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__grid > * {
  flex-basis: 240px;
}
.footer__title {
  margin-bottom: 19px;
  font-family: var(--ff-nino-mtavruli);
  font-size: 20px;
  font-weight: 700;
  color: #1c5285;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__link {
  font-family: var(--ff-nino-mtavruli);
  font-size: 14px;
  font-weight: 700;
  color: #474747;
  text-decoration: none;
}
.footer__copy {
  font-family: "BPG Mrgvlovani Caps 2010";
  font-size: 14px;
  color: hsla(209deg, 65%, 32%, 0.58);
}
.footer__copy a {
  color: inherit;
  text-decoration: none;
}

.social-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-menu a {
  color: #1c5285;
  font-size: 18px;
  text-decoration: none;
}
.social-menu--footer {
  margin-top: 40px;
  margin-bottom: 30px;
}

.container {
  width: min(100% - 2rem, 1360px);
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
